.logo-btn {
  background: transparent;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  padding: 4px 6 px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: none !important;
  border-radius: 6px;
}

.logo-btn:hover {
  color: #f6921e;
}
.logo-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
}
