@media (max-width: 992px) {
  .grid-container {
    padding: 0 40px;
    gap: 16px;
  }
  .logo {
    grid-column: span 12;
    justify-content: center;
  }
  .search-bar {
    grid-column: span 12;
  }
  .actions {
    grid-column: span 12;
    justify-content: center;
  }
}

/* Container Grid Utama */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px; /* gutter */
  width: 100%;
  padding: 0 120px; /* margin kiri kanan */
  align-items: center;
}

/* Navbar styling */
.navbar {
  width: 100%;
  background: #0b3f7e;
  color: #f5f5f5;
  height: 90px;
  display: flex;
  align-items: center;
}

/* Kolom */
.col {
  display: flex;
  align-items: center;
}

/* Logo: ambil 2 kolom */
.logo {
  grid-column: span 2;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
}

/* Search bar: ambil 8 kolom */
.search-bar {
  grid-column: span 8;
}

.search-bar input {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}

/* Icons: ambil 2 kolom */
.actions {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 35px;
  justify-content: flex-end;
}

/* Hover icon */
.actions svg {
  cursor: pointer;
  transition: 0.3s;
}

.actions svg:hover {
  color: orange;
}

/* Searchbar wrapper */
.search-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Search input */
.search-wrapper input {
  width: 100%;
  height: 50px;
  padding-left: 50px; /* memberi ruang icon kiri */
  border-radius: 6px;
  border: none;
  font-size: 18px;
  color: #333;
}

/* Tombol Search */
.search-button {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button svg {
  width: 22px;
  height: 22px;
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.6);
}

.search-button:hover svg {
  color: orange;
}

.search-wrapper input:focus {
  outline: 2px solid orange;
}

.carousel-container {
  width: 100%;
  max-width: 700px;
  height: 400px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation buttons */
.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  width: 46px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.btn-prev:hover,
.btn-next:hover {
  background: rgba(255, 165, 0, 0.8); /* orange hover */
}

.btn-prev {
  left: 10px;
}
.btn-next {
  right: 10px;
}

/* Icon style */
.carousel-icon {
  transition: 0.3s;
}
